@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);
*, *:before, *:after {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: inherit;
  font-family: 'Source Serif Pro', serif;
 
}

